# Ignore artifacts:
dist
build
coverage
.github

# Ignore all HTML files:
**/*.html

# Version control files
**/.git
**/.svn
**/.hg

# Directory dependencies
**/node_modules

# Editor/IDE directories
.vscode
.idea
.eslintrc.cjs
docker-compose.yml
